{{#author}}
    <h1>{{name}}</h1>
    <div class="article-list">
        {{#each articles}}
            <article>
                <a href="/article/{{slug}}"><img src="/images/{{image}}" alt=""></a>
                <h2><a href="/article/{{slug}}">{{name}}</a></h2>
            </article>
        {{/each}}
    </div>
{{/author}}
